#main {
	height: 655px;
	border: 5px solid #EDA022;
	text-align: left;
	padding-left: 150px;
	padding-right: 150px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../html/images/bkgrd.jpg);
}

section {
	height: 550px;
	background-color: #B5B372;
	width: 100%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	display: block;
	border: 15px solid #BCB3B0;
}
#homehead    {
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}
#mainname {
	color: #000000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}
#maintxt {
	color: #000000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 22px;
	text-align: right;
	padding-right: 40px;
}
a#mylink {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 0.8em;
	padding-left: 0.8em;
	color: #FFFFFF;
	text-decoration: underline;
}
a#mylink:hover, a#mylink:active, a#mylink:focus {
	color: #E66017;
	background-color: #B5B372;
	text-decoration: none;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}
#mainpic {
	margin-top: 30px;
	margin-left: 10px;
	float: left;
}
