@charset "utf-8";

* {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

body {
	margin-right: auto;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	min-width: 1000px;
	max-width: 1500px;
	margin-bottom: 0px;
}
#wrapper {
	margin-left: auto;
	margin-right: auto;
}
#wrapper header {
	height: 140px;
	background-color: #FFFFFF;
	border: 5px solid #B2A53D;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-shadow: 0px 0px;
	color: #DD1142;
}
#wrapper header #portfolio {
	color: #DEC711;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	text-align: center;
	margin-right: 250px;
	margin-top: 10px;
}
#wrapper header #logo {
	float: left;
	font-size: 20px;
	padding-left: 50px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
#wrapper header #webtext {
	font-size: 20px;
	margin-right: 250px;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color: #DD1142;
}

nav {
	height: 40px;
	background-color: #EDA022;
	font-size: 1.2em;
	font-style: normal;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: auto;
	color: #000000;
	padding-left: auto;
	padding-right: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	padding-top: 5px;
	border-top: 0px solid #95A10E;
	border-bottom: 5px solid #95A10E;
	border-right: 5px solid #95A10E;
	border-left: 5px solid #95A10E;
}
nav ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
}
nav ul li {
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	width: 120px;
	background-color: #EDA022;
	text-align: center;
	float: right;
	text-shadow: 0px 0px;
	font-weight: bold;
}
a:link {
	display: block;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 0.8em;
	padding-left: 0.8em;
}
a:link , a:visited{
	display: block;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	text-decoration: none;
	color: #000000;
}
a:hover, a:active, a:focus {
	color: #EDA022;
	background-color: #000000;
	text-decoration: underline;
	display: block;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.8em;
	padding-right: 0.8em;
}

footer {
	height: 50px;
	clear: both;
	background-color: #B2A53D;
	color: #000000;
	font-size: 1.2em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 20px;
	font-weight: bold;
	padding-right: 10px;
}
